<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baomidou.springboot.mapper.ResourceInfoMapper">
    <!--<resultMap id="BaseResultMap" type="com.baomidou.springboot.entity.ResourceInfo" >-->
        <!--<id column="ID" property="id" jdbcType="DECIMAL"></id>-->
        <!--<result column="NAME" property="name" jdbcType="DECIMAL"/>-->
        <!--<result column="CATEGORY" property="category" jdbcType="DECIMAL"/>-->
        <!--<result column="USER_ID" property="userId" jdbcType="VARCHAR"/>-->
        <!--<result column="PATH" property="path" jdbcType="VARCHAR"/>-->
        <!--<result column="DOWNLOAD_AMOUNT" property="downloadAmount" jdbcType="VARCHAR"/>-->
        <!--<result column="group_type" property="uploadTime" jdbcType="VARCHAR"/>-->
        <!--<result column="USER_ID" property="introduction" jdbcType="DECIMAL"/>-->

        <!--<result column="EMPLOYEE_NAME" property="isShared" jdbcType="VARCHAR"/>-->
        <!--<result column="CONFIRM_STATUS" property="fileType" jdbcType="VARCHAR"/>-->
    <!--</resultMap>-->
    <sql id="base_select">
        re.id,re.name,re.category,re.is_friend,re.user_id,re.path,re.download_amount,re.upload_time,re.introduction,re.is_shared,re.file_type,re.attribute1,
        re.attribute2,re.attribute3
    </sql>

    <sql id="where_like">
        <if test="category != null and category != ''">
            and re.category =#{category,jdbcType=VARCHAR}
        </if>
        <if test="fileType != null and fileType != ''">
            and re.file_type = #{fileType,jdbcType=VARCHAR}
        </if>
        <if test="name != null and name != ''">
            and re.name  LIKE concat('%',concat(#{name,jdbcType=VARCHAR}, '%'))
        </if>
        <if test="userId != null and userId != ''">
            and re.user_id = #{userId,jdbcType=VARCHAR}
        </if>
        <if test="userName != null and userName != ''">
            and u.name LIKE concat('%',concat(#{userName,jdbcType=VARCHAR}, '%'))
        </if>
    </sql>

    <select id="queryAll" resultType="com.baomidou.springboot.entity.ResourceInfoDto">
        select
        <include refid="base_select" />
        ,
        u.name user_name,
        row_number() over(order by re.download_amount desc) as resource_index
        from resource_info re, users u
        where u.id = re.user_id and  re.attribute1 = 'agree' and re.attribute2 = '1'
        order by re.download_amount desc
    </select>

    <select id="query"  parameterType="com.baomidou.springboot.entity.ResourceInfo" resultType="com.baomidou.springboot.entity.ResourceInfoDto">
        select
        <include refid="base_select" />, u.name user_name,
        row_number() over(order by re.download_amount desc) as resource_index
        from resource_info re, users u
        where u.id = re.user_id and 1 = 1 and re.attribute2 = '1'
        <include refid="where_like" />
        order by re.download_amount desc
    </select>
    <select id="queryFriendResource"  parameterType="com.baomidou.springboot.entity.ResourceInfo" resultType="com.baomidou.springboot.entity.ResourceInfoDto">
        select
        <include refid="base_select" />, u.name user_name,
        row_number() over(order by re.download_amount desc) as resource_index
        from resource_info re, users u
        where u.id = re.user_id and 1 = 1  and re.is_friend = '1'
        <include refid="where_like" />
        order by re.download_amount desc
    </select>

    <select id="queryMy"  parameterType="com.baomidou.springboot.entity.ResourceInfo" resultType="com.baomidou.springboot.entity.ResourceInfoDto">
        select
        <include refid="base_select" />, u.name user_name,
        row_number() over(order by re.download_amount desc) as resource_index
        from resource_info re, users u
        where u.id = re.user_id and 1 = 1
        <include refid="where_like" />
        order by re.download_amount desc
    </select>

    <select id="queryAduit"  parameterType="com.baomidou.springboot.entity.Aduit" resultType="com.baomidou.springboot.entity.ResourceInfoDto">
        select
        <include refid="base_select" />
        ,u.name user_name
        from aduit a ,resource_info re,users u
        where a.info_id = re.id and u.id = re.user_id and 1 = 1
        <if test="userId != null and userId != ''">
            and a.user_id = #{userId,jdbcType=VARCHAR}
        </if>
    </select>
</mapper>